<div class="dashboard-container">

  <div class="headline">

    <h1>MANAGEMENT SECTION</h1>

    <div class="nav-container">
      <li routerLink="/home"><i>Home</i></li>
      <li routerLink="/admin/dashboard/edit-home"><i>Edit Home</i></li>
      <li routerLink="/admin/dashboard/edit-branches"><i>Branches</i></li>
      <li routerLink="/admin/dashboard/car-types"><i>Cars & Car Types</i></li>
      <li routerLink="/admin/dashboard/edit-availabilities"><i>Reservations</i></li>
      <li routerLink="/admin/dashboard/edit-users"><i>Users</i></li>

    </div>

  </div>





  <div class="outlet-container">
    <router-outlet></router-outlet>
  </div>



</div>
